header {

  width: calc(100vw - 2px);
  height: 70px;

  padding: 10px 0;

  margin: 0;

  border-bottom: 2px solid rgba(16, 16, 24, 0.2);

  .logoContainer {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      width: 75px;
      height: 75px;
  
      box-shadow: inset 1px 1px 4px 3px rgba(16, 16, 24, 0.2);
  
       border-radius: 50%;
  
      .logo {
  
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      
          font-size: 14px;
      
          height: fit-content;
      
          padding: 0;
      
          color: lightgray;
              
      }
  
  }
  
  .headerContainer {

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
      height: 100%;
  
      padding: 0 20px;

  }

}
  
